@*

*@
@{
	ViewData["Title"] = "Your Cart";
}

<h1 class="page-title">Shopping Cart</h1>
<div class="error-messages"></div>
<table class="cart-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th> 
        </tr>
    </thead>
    <tbody id="cartItems">
    </tbody>
</table>

<div class="total-price">
    Total Price: $<span id="totalPrice"></span>
</div>

<div class="charge-section">
    <label for="paidAmount">Paid Amount: $</label>
    <input type="number" id="paidAmount" name="paidAmount" step="0.01" placeholder="Enter paid amount" value="0">
    <button onclick="calculateChange()">Calculate remaining</button>
    <div id="change"></div>
</div>

<button onclick="createReceipt()">Create Receipt</button>

<script>
    var cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];
    var totalPrice = 0;
    var totalPriceElement = document.getElementById("totalPrice");
    var cartList = document.getElementById("cartItems");
    var errorMessagesDiv = document.querySelector('.error-messages'); 

    cartItems.forEach(function (item) {
        var row = document.createElement("tr");
        row.setAttribute('data-item-id', item.id);

        var titleCell = document.createElement("td");
        titleCell.textContent = item.title;

        var quantityCell = document.createElement("td");
        quantityCell.textContent = item.quantity;

        var priceCell = document.createElement("td");
        priceCell.textContent = "$" + item.price;

        var removeCell = document.createElement("td");
        var button = document.createElement("button");
        button.textContent = "Remove";
        button.classList.add("remove-button");
        button.addEventListener("click", function () {
            removeItemFromCart(item);
        });


        removeCell.appendChild(button);
        row.appendChild(titleCell);
        row.appendChild(quantityCell);
        row.appendChild(priceCell);
        row.appendChild(removeCell);
        cartList.appendChild(row);
        totalPrice += (item.price * item.quantity);
    });

    totalPriceElement.textContent = totalPrice.toFixed(2);

    function removeItemFromCart(item) {
        var index = cartItems.findIndex(obj => obj.id === item.id);

        if (index !== -1) {
            cartItems.splice(index, 1);
            localStorage.setItem("cartItems", JSON.stringify(cartItems));
            cartList.removeChild(cartList.childNodes[index + 1]);
            totalPrice -= (item.price * item.quantity);
            totalPriceElement.textContent = totalPrice.toFixed(2);
        }
    }

    function displayErrorMessages(errors) {
        errorMessagesDiv.innerHTML = '';
        for (var key in errors) {
            if (errors.hasOwnProperty(key)) {
                var errorMessage = document.createElement("div");
                errorMessage.textContent = key + ': ' + errors[key].join(', ');
                errorMessagesDiv.appendChild(errorMessage);
            }
        }
    }

    function calculateChange() {
        var paidAmount = parseFloat(document.getElementById("paidAmount").value);
        var change = paidAmount - totalPrice;
        document.getElementById("change").textContent = "Change: $" + change.toFixed(2);
    }

    function createReceipt() {
        // Gather data
        var cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];
        var totalPrice = parseFloat($("#totalPrice").text());
        var paidAmount = parseFloat($("#paidAmount").val());

        // Create payload
        var data = {
            Items: cartItems,
            TotalPrice: totalPrice,
            PaidAmount: paidAmount
        };

        // Make AJAX request
        $.ajax({
            url: '@Url.Action("Create", "Receipt")',
            method: 'POST',
            dataType: 'json',
            data: data,
            success: function (response) {
                console.log("Receipt created successfully!");
                localStorage.setItem("cartItems", JSON.stringify([]));
                window.alert("Receipt created successfully!");
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error("Error creating receipt:", error);
                if (xhr.status === 400) {
                    var errors = xhr.responseJSON;
                    displayErrorMessages(errors);
                    $('#successModal').modal('show');

                } else {
                    alert("An error occurred while creating the receipt. Please try again later.");
                }
            }
        });
    }
</script>