@model IEnumerable<main.Models.Item>


<h2>Items</h2>
<p>
    <a href="@Url.Action("Create", "Item")" class="btn btn-primary">Add New Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>
